<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuessWhat - Room</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />
</head>

<body>
  <v-app id="app">
    <v-app-bar dense color="primary">
      <v-toolbar-title>GuessWhat</v-toolbar-title>
    </v-app-bar>

    <v-main class="fill-height">
      <v-row>
        <v-col cols="1" offset="1">
          00:30
        </v-col>
        <v-col cols="1">
          Round x of y
        </v-col>
        <v-col cols="2" offset="2" align="center" justify="center">
          <p id="guessWord">_ _ _ _ _ _ _</p>
        </v-col>
			</v-row>

      <v-row>
        <v-col cols="2" class="mr-3">
          <v-row align="center">
            <v-card class="mx-auto" min-width="100%" tile>
              <v-list>
                <v-subheader>USERS</v-subheader>
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item v-for="(item, i) in items" :key="i">
                    <v-list-item-avatar>
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-row>
				</v-col>

        <v-col cols="5">
          <v-row align="center">
            <v-card class="mx-auto" min-width="100%" tile>
              <canvas id="canvas" v-show="drawing">
                Your browser does not support the canvas technology.
							</canvas>

							<canvas id="canvas1" v-show="!drawing">
                Your browser does not support the canvas technology.
              </canvas>
            </v-card>
          </v-row>
				</v-col>

        <v-col cols="3">
          <v-row style="overflow-y: scroll; height: 400px;">
            <v-col cols="12">
              <v-card>
                <v-list id="chat-messages" disabled v-for="msg in chats">
                  <v-list-item v-if='msg.type === "alert"'>
                    <v-alert close-text="Close Alert" :type="msg.color" dark color="secondary" dense>
                      {{ msg.message }}
                    </v-alert>
                  </v-list-item>

                  <v-list-item v-if='msg.type === "message"' two-line>
                    <v-list-item-avatar>
                      <img :src="msg.avatar" />
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>{{ msg.nickname }}</v-list-item-title>
                      <v-list-item-subtitle v-html="msg.message"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
			</v-row>

      <v-row>
        <v-col cols="5" offset="2">
          <v-row align="center">
						<v-card class="mx-auto" min-width="100%" id="toolbar">
							<v-row>
								<v-col cols="12">
									<v-btn>
										<input id="color" type="color" value="#FFFFFF" style="height: 30px;">
									</v-btn>

									<v-icon left>mdi-format-font-size-decrease</v-icon>
									<input type="range" class="custom-range" min="1" max="50" step="1" value="10" id="brushSize">
									<v-icon right>mdi-format-font-size-increase</v-icon>

									<v-btn @click="tool('pencil')">
										<v-icon left>mdi-pencil</v-icon> Pencil
									</v-btn>
									<v-btn @click="tool('eraser')">
										<v-icon left>mdi-eraser</v-icon> Eraser
									</v-btn>
									<v-btn @click="tool('fill')">
										<v-icon left>mdi-format-color-fill</v-icon> Fill all
									</v-btn>
									<v-btn @click="tool('clear')">
										<v-icon left>mdi-delete</v-icon> Clear
									</v-btn>
								</v-col>

								<v-col cols="12" class="py-0">
									<span name="color" data-value="#000000" style="--bg-color: #000000"></span>
									<span name="color" data-value="#404040" style="--bg-color: #404040"></span>
									<span name="color" data-value="#FF0000" style="--bg-color: #FF0000"></span>
									<span name="color" data-value="#FF6A00" style="--bg-color: #FF6A00"></span>
									<span name="color" data-value="#FFD800" style="--bg-color: #FFD800"></span>
									<span name="color" data-value="#B6FF00" style="--bg-color: #B6FF00"></span>
									<span name="color" data-value="#4CFF00" style="--bg-color: #4CFF00"></span>
									<span name="color" data-value="#00FF21" style="--bg-color: #00FF21"></span>
									<span name="color" data-value="#00FF90" style="--bg-color: #00FF90"></span>
									<span name="color" data-value="#00FFFF" style="--bg-color: #00FFFF"></span>
									<span name="color" data-value="#0094FF" style="--bg-color: #0094FF"></span>
									<span name="color" data-value="#0026FF" style="--bg-color: #0026FF"></span>
									<span name="color" data-value="#4800FF" style="--bg-color: #4800FF"></span>
									<span name="color" data-value="#B200FF" style="--bg-color: #B200FF"></span>
									<span name="color" data-value="#FF00DC" style="--bg-color: #FF00DC"></span>
									<span name="color" data-value="#FF006E" style="--bg-color: #FF006E"></span>
								</v-col>

								<v-col cols="12" class="py-0">
									<span name="color" data-value="#FFFFFF" style="--bg-color: #FFFFFF"></span>
									<span name="color" data-value="#808080" style="--bg-color: #808080"></span>
									<span name="color" data-value="#7F0000" style="--bg-color: #7F0000"></span>
									<span name="color" data-value="#7F3300" style="--bg-color: #7F3300"></span>
									<span name="color" data-value="#7F6A00" style="--bg-color: #7F6A00"></span>
									<span name="color" data-value="#5B7F00" style="--bg-color: #5B7F00"></span>
									<span name="color" data-value="#267F00" style="--bg-color: #267F00"></span>
									<span name="color" data-value="#007F0E" style="--bg-color: #007F0E"></span>
									<span name="color" data-value="#007F46" style="--bg-color: #007F46"></span>
									<span name="color" data-value="#007F7F" style="--bg-color: #007F7F"></span>
									<span name="color" data-value="#004A7F" style="--bg-color: #004A7F"></span>
									<span name="color" data-value="#00137F" style="--bg-color: #00137F"></span>
									<span name="color" data-value="#21007F" style="--bg-color: #21007F"></span>
									<span name="color" data-value="#57007F" style="--bg-color: #57007F"></span>
									<span name="color" data-value="#7F006E" style="--bg-color: #7F006E"></span>
									<span name="color" data-value="#7F0037" style="--bg-color: #7F0037"></span>
								</v-col>
							</v-row>
            </v-card>
          </v-row>
				</v-col>

        <v-col cols="3">
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model.trim="newMsg"
                autocomplete="off"
                @keyup.enter="send">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-main>
  </v-app>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script>
		Vue.config.productionTip = false;
	</script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
  <script src="js/room.js"></script>
  <script src="js/paint.js"></script>
</body>

<style>
	span[name="color"] {
		display: inline-block;
		width: calc((100% / 16) - (60px / 16));
		height: 30px;
		background-color: var(--bg-color);
	}
</style>

</html>
