<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuessWhat - Room</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />
</head>

<body>
  <v-app id="app">
    <v-app-bar dense color="primary">
      <v-toolbar-title>GuessWhat</v-toolbar-title>
    </v-app-bar>

    <v-main class="fill-height">
      <v-row>
        <v-col cols="1"></v-col>
        <v-col cols="1">
          00:30
        </v-col>
        <v-col cols="1">
          Round x of y
        </v-col>
        <v-col cols="2"></v-col>
        <v-col cols="2" align="center" justify="center">
          <p>_ _ _ _ _ _ _</p>
        </v-col>
        <v-col cols="5"></v-col>
      </v-row>
      <v-row>
        <v-col cols="1"></v-col>
        <v-col cols="2" class="mr-3">
          <v-row align="center">
            <v-card class="mx-auto" min-width="100%" tile>
              <v-list :disabled="disabled" :dense="dense" :two-line="twoLine" :three-line="threeLine" :shaped="shaped"
                :flat="flat" :subheader="subheader" :sub-group="subGroup" :nav="nav" :avatar="avatar"
                :rounded="rounded">
                <v-subheader>USERS</v-subheader>
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item v-for="(item, i) in items" :key="i" :inactive="inactive">
                    <v-list-item-avatar v-if="avatar">
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title"></v-list-item-title>
                      <v-list-item-subtitle v-if="twoLine || threeLine" v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-row>
        </v-col>
        <v-col cols="5">
          <v-row align="center">
            <v-card class="mx-auto" min-width="100%" tile>
              <canvas id="canvas">
                Your browser does not support the canvas technology.
              </canvas>
            </v-card>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row style="overflow-y: scroll; height: 600px;">
            <v-col cols="12">
              <v-card>
                <v-list id="chat-messages" disabled v-for="msg in chats">
                  <v-list-item v-if='msg.type === "alert"'>
                    <v-alert close-text="Close Alert" :type="msg.color" dark color="secondary" dense>
                      {{ msg.message }}
                    </v-alert>
                  </v-list-item>

                  <v-list-item v-if='msg.type === "message"' two-line>
                    <v-list-item-avatar>
                      <img :src="msg.avatar" />
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>{{ msg.nickname }}</v-list-item-title>
                      <v-list-item-subtitle v-html="msg.message"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="1"></v-col>
      </v-row>
      <v-row>
        <v-col cols="3" class="mr-3"></v-col>
        <v-col cols="5">
          <v-row align="center">
						<v-card class="mx-auto" min-width="100%" id="toolbar">
							<v-row>
								<v-col cols="12">
									<v-btn>
										<input id="color" type="color" value="#FFFFFF" style="height: 30px;">
									</v-btn>

									<v-icon left>mdi-format-font-size-decrease</v-icon>
									<input type="range" class="custom-range" min="1" max="50" step="1" value="10" id="brushSize">
									<v-icon right>mdi-format-font-size-increase</v-icon>

									<v-btn @click="tool('pencil')">
										<v-icon left>mdi-pencil</v-icon> Pencil
									</v-btn>
									<v-btn @click="tool('eraser')">
										<v-icon left>mdi-eraser</v-icon> Eraser
									</v-btn>
									<v-btn @click="tool('fill')">
										<v-icon left>mdi-format-color-fill</v-icon> Fill all
									</v-btn>
									<v-btn @click="tool('clear')">
										<v-icon left>mdi-delete</v-icon> Clear
									</v-btn>
								</v-col>

								<v-col cols="12">
									<input name="color" type="color" value="#000000">
									<input name="color" type="color" value="#404040">
									<input name="color" type="color" value="#FF0000">
									<input name="color" type="color" value="#FF6A00">
									<input name="color" type="color" value="#FFD800">
									<input name="color" type="color" value="#B6FF00">
									<input name="color" type="color" value="#4CFF00">
									<input name="color" type="color" value="#00FF21">
									<input name="color" type="color" value="#00FF90">
									<input name="color" type="color" value="#00FFFF">
									<input name="color" type="color" value="#0094FF">
									<input name="color" type="color" value="#0026FF">
									<input name="color" type="color" value="#4800FF">
									<input name="color" type="color" value="#B200FF">
									<input name="color" type="color" value="#FF00DC">
									<input name="color" type="color" value="#FF006E">
								</v-col>

								<v-col cols="12">
									<input name="color" type="color" value="#FFFFFF">
									<input name="color" type="color" value="#808080">
									<input name="color" type="color" value="#7F0000">
									<input name="color" type="color" value="#7F3300">
									<input name="color" type="color" value="#7F6A00">
									<input name="color" type="color" value="#5B7F00">
									<input name="color" type="color" value="#267F00">
									<input name="color" type="color" value="#007F0E">
									<input name="color" type="color" value="#007F46">
									<input name="color" type="color" value="#007F7F">
									<input name="color" type="color" value="#004A7F">
									<input name="color" type="color" value="#00137F">
									<input name="color" type="color" value="#21007F">
									<input name="color" type="color" value="#57007F">
									<input name="color" type="color" value="#7F006E">
									<input name="color" type="color" value="#7F0037">
								</v-col>
							</v-row>
            </v-card>
          </v-row>
        </v-col>
        <v-col cols="3">
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model.trim="newMsg"
                autocomplete="off"
                @keyup.enter="send">
              </v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-main>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
  <script src="js/room.js"></script>
  <script src="js/paint.js"></script>

  <script>
    $(document).ready(function () {
      $('input[name="color"]').click((event) => {
        event.preventDefault();

        color.value = event.target.value;
      });
    });
  </script>
</body>

</html>
