<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ping</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
	<v-app id="app">
		<v-app-bar dense color="primary">
			<v-toolbar-title>Ping</v-toolbar-title>
		</v-app-bar>

		<v-main class="fill-height">
			<v-container>
				<v-row>
					<v-col cols="12">
						<v-card align="center" justify="center" class="mx-auto" max-width="400">
							<v-form @submit.prevent="send">
								<v-container>
									<v-row v-if="this.response.length > 0">
										<v-col cols="12">
											<v-alert
												type="info"
												text
												dark
											>{{ response }}</v-alert>
										</v-col>
									</v-row>

									<v-row>
										<v-col cols="12">
											<v-text-field
												v-model="message"
												label="Message"
											></v-text-field>
										</v-col>

										<v-col cols="12">
											<v-btn @click="send">
												Envoyer
												<v-icon dark right>mdi-send</v-icon>
											</v-btn>
										</v-col>
									</v-row>
								</v-container>
							</v-form>
						</v-card>
					</v-col>
				</v-row>
			</v-container>
		</v-main>
	</v-app>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="ping.js"></script>
</body>
</html>
